html {
  font-size: 62.5%;
}

body {
  -webkit-user-select: none;
  user-select: none;
  background-color: #dedede;
  padding-top: 5vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 93vh;
}

a {
  color: #000000;
}

@font-face {
  font-family: "Kepler";
  src: url("assets/fonts/kepler_stdMdCndisplay.woff2") format("woff2"),
    url("assets/fonts/kepler_stdMdCndisplay.woff") format("woff");
}

@font-face {
  font-family: "InputMono";
  src: url("assets/fonts/input_monolight.woff2") format("woff2"),
    url("assets/fonts/input_monolight.woff") format("woff");
}

h1 {
  font-family: "Kepler", serif;
  font-weight: 400;
  font-size: 10rem;
  letter-spacing: -0.15vw;
  margin: 0;
  margin-bottom: 7vh;
  line-height: 1;
}

h2 {
  font-family: "Kepler", serif;
  font-weight: 400;
  font-size: 5rem;
  letter-spacing: -0.1vw;
  margin: 0;
  color: #9c9c9c;
}

p {
  font-family: "InputMono", monospace;
  font-size: 1.3rem;
  letter-spacing: -0.01vw;
  margin: 0;
  line-height: 1.2;
}

#page-container {
  display: flex;
  flex-direction: column;
  min-height: 93vh;
}

#left-block {
  margin-left: 4vw;
  position: relative;
  z-index: 1;
}

.menu-item {
  color: #9c9c9c;
  margin-top: 0;
  margin-bottom: 0.8vh;
  width: max-content;
}

.menu-item:hover::before {
  content: "\2192  ";
}

#gradient-img {
  position: absolute;
  bottom: 0;
  left: 14.5vw;
  z-index: 0;
  pointer-events: none;
  width: 85.5%;
  height: 100%;
}

#section-container {
  margin-top: 15vh;
  display: flex;
  overflow-x: auto;
  overflow: hidden;
}

#section-container:hover {
  cursor: e-resize;
}

.section {
  flex-shrink: 0;
  margin-left: 14.5vw;
  width: 26vw;
}

.section-content {
  margin: 0.6vh 0;
  margin-left: 2vw;
}

#last-section {
  margin-right: 59.45vw;
}

@media (max-width: 480px) {
  h1 {
    letter-spacing: -0.8vw;
  }

  #gradient-img {
    margin-left: -40vw;
  }

  #left-block {
    display: inline-block;
    margin-left: 15vw;
    position: relative;
    z-index: 2;
  }

  #section-container {
    display: block;
  }
  .section {
    margin-left: 15vw;
    margin-bottom: 15vw;
    width: 80vw;
  }
  #last-section {
    margin-right: 0;
  }
}
